/*---------------------------------------------------------

                            Fonts

----------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Muli:300,700|Nunito');



/*----Stilizare BODY----*/

body {
    background: #ffffff;
    font-family: 'Nunito', sans-serif;
    overflow-x: hidden;
    padding-top: 70px;
}

section {
    position: relative;

}

/*---------------------------------------------------------

                        Meniu

----------------------------------------------------------*/

.custom-navbar {
    background: #ffffff;
    border-top: 5px solid #29ca8e;
    border-bottom: 0;
    -webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    padding: 12px 0;
    margin-bottom: 0;
    padding: 0;
}

.custom-navbar .navbar-brand {
    color: #2b2929;
    font-size: 20px;
    font-weight: bold;
    line-height: 40px;
}

.custom-navbar .navbar-nav .navbar-nav-first {
    margin-left: 8em;
}

.custom-navbar .navbar-nav.navbar-right li a {
    padding-right: 12px;
    padding-left: 12px;
}

.custom-navbar .navbar-nav.navbar-right li a .fa {
    background: #29ca8e;
    border-radius: 100%;
    color: #ffffff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    display: inline-block;
    margin-right: 5px;
}

.custom-navbar .nav li a {
    line-height: 40px;
    color: #252424;
    padding-right: 22px;
    padding-left: 22px;
}

.custom-navbar .navbar-nav > li > a:hover,
.custom-navbar .navbar-nav > li > a:focus {
    background-color: transparent;
}

.custom-navbar .nav li a:hover {
    background-color: #29ca8e;
    color: #ffffff;
}

.custom-navbar .nav li.active > a {
    background-color: #29ca8e;
    color: #ffffff;
}

.custom-navbar .navbar-toggle {
    border: none;
    padding-top: 10px;
}

.custom-navbar .navbar-toggle {
    background-color: transparent;
}

.custom-navbar .navbar-toggle .icon-bar {
    background: #252525;
    border-color: transparent;
}

/*---------------------------------------------------------

                            Slider

----------------------------------------------------------*/
#home {
    padding: 0;
}

#home h1 {
    margin-bottom: 50px;
}

.home-slider .caption {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    background-color: rgba(20, 20, 20, 0.2);
    height: 100%;
    color: #fff;
    cursor: e-resize;
}


.home-slider .item {
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: cover;
    height: 650px;
}

.home-slider .item-first {

    background-image: url(../images/slider_1.jpg);
    background-position: center;

}

.home-slider .item-second {
    background-image: url(../images/slider_2.jpg);
}

.home-slider .item-third {
    background-image: url(../images/slider_3.jpg);
}


.section-btn {
    margin-top: 50px;
    background-color: Transparent;
    border: 1px solid white;
    border-radius: 50px;
    color: #ffffff;
}

@media (min-width: 768px) {
    .home-slider .col-md-6 {
        padding-left: 0;
    }
}

/*---------------------------------------------------------

                        Feature

----------------------------------------------------------*/


.feature-thumb {
    margin-top: 50px;
    padding: 50px;
    width: 350px;
    height: 350px;
    background-color: Transparent;
    border: 1px solid #E7E6E8;
    padding: 5em 3em;

}

.feature-thumb > span {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    line-height: 60px;
    text-align: center;
    margin-bottom: 5px;
    font-size: 28px;
    color: #ffffff;
    font-weight: bold;
    background: #3D55BC;
}

.feature-thumb h3 {
    margin: 10px 0;
}

/*---------------------------------------------------------

                        About

----------------------------------------------------------*/
#about {
    padding-top: 50px;
}

#about figure {
    display: inline-block;
    vertical-align: top;
    margin-left: 15px;
}

#about figure span {
    float: left;
    margin-left: -15px;
    padding: 15px 20px;
    position: relative;
    top: 20px;
}

#about figure span i {
    background: #29ca8e;
    border-radius: 50px;
    color: #ffffff;
    font-size: 25px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.entry-form {
    background: #252020;
    border-radius: 100%;
    text-align: center;
    padding: 6em;
    width: 450px;
    height: 450px;
}

.entry-form h2 {
    color: #ffffff;
    margin: 0;
}

.entry-form .form-control {
    background: transparent;
    border: 0;
    border-bottom: 1px solid;
    border-radius: 0;
    box-shadow: none;
    height: 45px;
    margin: 10px 0;
}

.entry-form .submit-btn {
    background: #ffffff;
    border-radius: 50px;
    border: 0;
    color: #252020;
    width: 50%;
    height: 50px;
    margin: 30px auto;
    margin-bottom: 10px;
}

.entry-form .submit-btn:hover {
    background: #3f51b5;
    color: #ffffff;
}

/*---------------------------------------------------------

                        Team

----------------------------------------------------------*/
.section-title h2 {
    text-align: center;
}


.team-thumb {
    background: #ffffff;
    position: relative;
    overflow: hidden;
    text-align: left;
}

.team-info {
    padding: 20px 30px;
}


.team-thumb .social-icon {
    border-top: 1px solid #f0f0f0;
    padding: 4px 20px 0 20px;
}

.team-thumb .social-icon li a {
    background: #ffffff;
    color: #252020;
}

.team-info h3 {
    margin: 0;
}

.social-icon {
    position: relative;
    padding: 0;
    margin: 0;
}

.social-icon li {
    display: inline-block;
    list-style: none;
    margin-bottom: 5px;
}

.social-icon li a {
    border-radius: 100px;
    color: #29ca8e;
    font-size: 15px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-decoration: none;
    text-align: center;
    transition: all 0.4s ease-in-out;
    position: relative;
    margin: 5px 5px 5px 0;
}

.social-icon li a:hover {
    background: #29ca8e;
    color: #ffffff;
}

/*---------------------------------------------------------

                        Courses

----------------------------------------------------------*/

#courses .section-title {
    text-align: center;
}

#courses .owl-theme .owl-nav {
    margin-top: 30px;
}

#courses .owl-theme .owl-nav [class*=owl-] {
    border-radius: 2px;
    font-size: 16px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    padding: 0;
}

.courses-thumb {
    background: #f9f9f9;
    position: relative;
}

.courses-top {
    position: relative;
}

.courses-image {
    background: linear-gradient(to right, #202020, #101010);
}

.courses-date {
    background: linear-gradient(rgba(255, 0, 0, 0), rgba(0, 0, 0, 0.6));
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 20px 25px;
}

.courses-date span,
.courses-author span {
    font-size: 14px;
    font-weight: bold;
}

.courses-date span {
    color: #ffffff;
    display: inline-block;
    margin-right: 10px;
}

.courses-detail {
    padding: 25px 25px 15px 25px;
}

.courses-detail h3 {
    margin: 0 0 2px 0;
}

.courses-info {
    border-top: 1px solid #f0f0f0;
    position: relative;
    clear: both;
    padding: 15px 25px;
}

.courses-author,
.courses-author span {
    display: inline-block;
    vertical-align: middle;
}

.courses-author img {
    display: inline-block !important;
    border-radius: 50px;
    width: 50px !important;
    height: 50px;
    margin-right: 10px;
}

.courses-price {
    float: right;
    margin-top: 10px;
}

.courses-price span {
    background: #29ca8e;
    border-radius: 2px;
    color: #ffffff;
    display: block;
    padding: 5px 10px;
}

.courses-price.free span {
    background: #3f51b5;
}

@media only screen and(max-width:480px;

) {
    h1 {
        font-size: 2em;
    }

    #home h3 {
        font-size: 14px;
    }

    .entry-form {
        border-radius: 0;
        padding: 2em;
        max-width: 100%;
        max-height: 100%;
        width: inherit;
        height: inherit;
    }
}
